posh-slide {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, #fefcea 0%, #2090f1 100%);
  position: absolute;
}

.infobar {
  background-color: #000000;
  color: #ababab;
  position: absolute;
  height: 25px;
  width: 100%;
  font-weight: bold;
}

.infobar .runtime {
  text-align: center;
  width: 100%;
  top: 3px;
  position: absolute;
}

.infobar .slides {
  left: 10px;
  top: 3px;
  position: absolute;
}
.infobar .wlanip {
  right: 10px;
  top: 3px;
  position: absolute;
}

